@import "../../style/variable.scss";
@import "../../style/mixins";

.wrapper {
  padding-bottom: 60px;

  @media screen and (max-width: 780px) {
    padding-bottom: 20px;
  }
}

.list {
  @include flex(space-around);
  flex-wrap: wrap;
  @include bg(contain, top center);

  @media screen and (max-width: 780px) {
    display: block;
  }

  @media screen and (max-width: 400px) {
    background-image: none;
  }
}

.item {
  @include width(200px);
  height: 250px;
  position: relative;
  top: 100px;
  background-color: $mainColorOpacity;
  margin-bottom: 70px;

  //.item + .item
  & + .item {
    margin-right: 20px;
  }

  @media screen and (max-width: 780px) {
    top: 0;
  }

  @media screen and (max-width: 400px) {
    left: 50%;
    transform: translateX(-50%);
  }
}

.link {
  @include width(200px);
  @include flex(center);
  align-items: center;
  height: 200px;
  background-color: $bg500;
  box-shadow: inset 2px 2px 24px 4px $bg900;
  position: absolute;
  left: 30px;
  bottom: -15px;
  font-size: 22px;
  font-weight: 900;
  border-radius: 10px;
  color: $textColor;
  transition: 0.3s;

  &:hover {
    background-color: $mainColor;
    box-shadow: inset 2px 2px 24px 4px $bg500;
    transform: rotate(5deg);
  }
}


