@import "../../style/variable.scss";
@import "../../style/mixins";

.img {
  border-radius: 10px;
  box-shadow: 0 0 17px 6px $bg900;
  margin-top: 50px;
}

.wrapper {
  @include width(620px);
  padding: 0 5px;
}

.style_text {
  color: $mainColor;

  //.style_text_white
  &_white {
    color: $textColor;
    font-size: 16px;
  }
}

.text {
  margin-left: 60px;
}

.title {
  margin-bottom: 70px;
  color: $textColor;
}

.name {
  color: $textColor;
  font-size: 28px;
  line-height: 1.3;
  margin-bottom: 30px;
}

.box {
  @include flex(space-between);
  margin-bottom: 25px;

  @media screen and (max-width: 830px) {
    display: block;
  }
}

.list {
  @media screen and (max-width: 830px) {
    margin-bottom: 9px;
  }

  @media screen and (max-width: 650px) {
    margin-bottom: 10px;
  }
}

.list li + li {
  margin-top: 10px;
}

.social {
  @include width(250px);
  @include flex(space-between);
  position: relative;
  margin: 0 0 40px 80px;

  &::after {
    @include after('', 50%, -80px);
    width: 70px;
    height: 3px;
    background-color: $bg200;
    transform: translateY(-50%);

    @media screen and (max-width: 400px) {
      content: none;
    }
  }

  @media screen and (max-width: 400px) {
    margin-left: 0;
  }
}

.block {
  @include width(350px);
  text-align: center;
  margin: 0 auto 50px auto;
}

.educBlock {
  margin-top: 20px;
}

.box_educ {
  @include width(400px);
  border: 1px solid $mainColor;
  padding: 25px 20px;
  font-size: 16px;
  margin-bottom: 20px;
  box-shadow: 0 0 17px 6px $bg900;
  border-radius: 5px;
  position: relative;
  background-color: $bg500;

  & li + li {
    margin-top: 18px;
  }

  &::before {
    @include after($bookMark, 0, 18px);
  }

  &::after {
    @include after('', 0, -7px);
    @include width(400px);
    height: 102%;
    background-color: $mainColor;
    z-index: -1;
    border-radius: 5px;
  }

  @media screen and (max-width: 650px) {
    margin: 0 auto 20px auto;
  }
}


.title_educ {
  color: $textColor;
  font-size: 22px;
  text-align: center;
  font-weight: 700;
}

.title_educ_bulit {
  position: relative;
  margin-left: 10px;

  &::after {
    @include after('', 11px, -10px);
    width: 5px;
    height: 5px;
    background-color: $bg200;
  }
}

.block_resume {
  @include flex(space-between);

  @media screen and (max-width: 650px) {
    display: block;
  }
}

.experience {
  margin-bottom: 20px;
}

.download {
  margin: 0 0 60px 60px;

  //.download_link
  &_link {
    display: block;
    position: relative;
    color: $bg200;
    font-weight: 900;
    font-size: 18px;

    //.download_link:before
    &::before {
      @include after($imgPdf, 50%, -60px);
      transform: translateY(-50%);
    }
  }
}

