@import "../../style/variable";
@import "../../style/mixins";

.title {
    margin-bottom: 50px;

    //.title_box
    &_box {
        @include width(400px);
        text-align: center;
        margin: 0 auto;
    }

    //.title_color
    &_color {
        color: $textColor;
    }
}

.subtitle {
    color: $textColor;
    font-size: 20px;
    margin-bottom: 25px;
}

.block {
    @include flex(space-between);

    @media screen and (max-width: 780px) {
        display: block;
    }
}

.contact_me {
    @include width(550px);
    padding: 15px;

    @media screen and (max-width: 400px) {
        padding: 15px 10px;
    }
}

.contact_info {
    @include width(400px);
    padding: 15px;

    @media screen and (max-width: 400px) {
        padding: 15px 10px 0 10px;
    }
}

.input {
    background-color: transparent;
    border: 1px solid $bg900;
    height: 45px;
    padding-left: 15px;
    box-shadow: 0 0 10px 3px $bg900;
    color: $textColor;

    //.input + .input
    & + .input {
        margin-left: 15px;
    }

    //.input_size
    &_size {
        @include width(250px);
        display: block;
    }
}

.text::placeholder,
.input::placeholder {
    color: $textColor;
    font-size: 16px;
}

.inner {
    @include flex(space-between);
    margin-bottom: 30px;
}

.message {
    width: 100%;
    margin-bottom: 30px;

    //.message_box
    &_box {
        margin-bottom: 30px;
    }
}

.text {
    resize: none;
    width: 100%;
    min-height: 100px;
    padding: 15px;
    background-color: transparent;
    box-shadow: 0 0 10px 3px $bg900;
    border: 1px solid $bg900;
    margin-bottom: 40px;
    color: $textColor;
}

.btn {
    text-align: center;
}

.item {
    margin-left: 45px;
    position: relative;

    //.item_name:after
    &_name:after {
        @include after($name, 9px, -50px);
    }

    //.item_location:after
    &_location:after {
        @include after($location, 9px, -50px);
    }

    //.item_relocation:after
    &_relocation:after {
        @include after($relocation, 9px, -50px);
    }

    //.item_call:after
    &_call:after {
        @include after($call, 9px, -50px);
    }

    //.item_email:after
    &_email:after {
        @include after($letter, 9px, -50px);
    }

    //.item + .item
    & + .item {
        margin-top: 25px;
    }
}

.list {
    margin-bottom: 30px;
}
.modal_success {
    @include modalSuccessError($sendSuccessBg100);
    border: 1px solid $sendSuccess200;
}
.modal_error {
    @include modalSuccessError($sendError);
}

.modal_success,
.modal_error {
    @media screen and (max-width: 780px) {
        position: fixed;
        @include borderRadius(20px, 20px, 0, 0);
    }
}

